body{
    font-family: Arial, sans-serif;
    background-color: #b9a6a6;
    text-align: center;
}

.container{
    width: 350px;
    margin: 80px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

input{
    width: 50%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 5px;
}

button{
    padding: 10px 20px;
    background-color: rgb(255, 13, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(139, 0, 21);
}

#result{
    margin-top: 15px;
    font-weight: bold;
    color: rgb(0, 28, 128);
}


